<div class="container-fluid px-0 mt-auto fixed-bottom">
    <footer class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-between ">
        <div class="d-flex flex-wrap align-items-center" id="navbarNav">
            <a class="navbar-brand" href="/"><img src={{asset('media/img/logo_white.png')}} width="96" height="16"
                    alt="logo Glitch" class="ms-2"></a>
            <ul class="nav ">
                <li class="nav-item active">
                    <img class="icon m-2 " width="40px" height="40px" src={{asset('media/img/afpar_logo.png')}} alt='AFPAR Logo' />
                </li>
                <li class="nav-item active">
                    <img class="icon m-2 " width="40px" height="40px" src={{asset('media/img/Logo_Meteo_France.png')}} alt='Meteo France Logo' />
                </li>
                <li class="nav-item active">
                    <img class="icon m-2 " width="40px" height="40px" src={{asset('media/img/SFR_logo_2014.png')}} alt='SFR logo' />
                </li>
            </ul>
        </div>
    
        <div class="d-flex " id="navbarNav">
            <ul class="navbar-nav mx-3">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Mentions Légales</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contacts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Plan d'accès</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Règlement intérieur</a>
                </li>
            </ul>
        </div>
    </footer>
</div>
