<div class="container-fluid px-0">

    {# header avec condition d'affichage #}
    <header class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-between ">
        <div class="d-flex mb-2 mb-lg-0 align-items-center">
            <a href="/"><img src={{asset('media/img/afpar_logo.png')}} width="64" height="64" alt="" class="ms-2"></a>
            <a class="navbar-brand" href="/"><img src={{asset('media/img/logo_white.png')}} width="192" height="33"
                    alt="logo Glitch" class="ms-2"></a>
        </div>
        {% include "pages/sercurity/login.html.twig" %}
    </header>

    {# Bar de navigation avec condition d'affichage #}
    {% include "partials/_navbar.html.twig" %}
</div>