<!-- Modal -->
<div class="modal modalCard fade" id="{{idModal}}" tabindex="-1" role="dialog" aria-labelledby="{{idModal}}" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="{{idModalTitle}}">{{ModalTitle}}</h5>
                <button type="button" class="{{classButton}}" data-bs-dismiss="modal" aria-label="{{ariaLabel}}">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body p-0 p-sm-2" id="{{idModalBody}}">
                {# ici le code importer par la réponse de la requête ajax du code javaScript #}
            </div>
        </div>
    </div>
</div>

<div class="attribute" data-idModal="{{idModal}}" data-idModalBody="{{idModalBody}}" data-requestUrl="{{requestUrl}}"></div>
