    {# Bar de navigation avec condition d'affichage #}
    {% if is_granted('ROLE_ADMIN') %}
        <nav class="navbar navbar-expand-lg navbar-dark bg-secondary py-2">
            <ul class="navbar-nav ms-3">
                <li class="nav-item active">
                    <a class="nav-link ps-0" href="{{ path('management.index') }}"><i class="fa-solid fa-house me-2"></i>Accueil</a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link" href="#hookActivity"><i class="fa-solid fa-person-biking me-2"></i>Activité</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('statistic.index') }}"><i class="fa-solid fa-chart-line me-2"></i>Statistique</a>
                </li>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown"
                    aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fa-solid fa-plus-minus me-1"></i>
                                Gestion
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                                <li><a class="dropdown-item" href="{{ path('management.room') }}"><i class="fa-solid fa-bed me-2"></i>Chambres</a></li>
                                <li><a class="dropdown-item" href="{{ path('management.observation') }}"><i class="fa-solid fa-paper-plane me-2"></i>Signalement</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </ul>
        </nav>
    {% elseif is_granted('ROLE_USER') %}
        <nav class="navbar navbar-expand-lg navbar-dark bg-secondary py-2">
            <ul class="navbar-nav ms-3">
                <li class="nav-item active">
                    <a class="nav-link ps-0"><i class="fa-solid fa-house me-2"></i>Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fa-solid fa-paper-plane me-2"></i>Signalement</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fa-solid fa-person-biking me-2"></i>Activité</a>
                </li>
            </ul>
        </nav>
    {% else %}
    
    {% endif %}
</div>