{# {% if error %}
    <div class="text-danger">{{error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %} #}
{% if app.user %}
    <div class="mx-3">
        <label for="fullName" class="text-white me-2">{{ app.user.fullName }}</label>
        <a href="{{ path('sercurity.logout') }}" class="btn btn-outline-success">
            <i class="fa-solid fa-door-closed"></i>
        </a>
    </div>
{% else %}
    <div class="mx-3">
        <form action="{{ path('sercurity.login')}}" method="post" class="d-flex">
            <input class="form-control me-2" type="email" placeholder="Identifiant" aria-label="Id" id="inputEmail" name="email" value="{{lastUsername}}" required autofocus autocomplete="email">
            <input class="form-control me-2" type="password" placeholder="Mot de passe" aria-label="Mdp" id="inputPassword" name="password" required autocomplete="current-password">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            <button class="btn btn-outline-success" type="submit"><i class="fa-solid fa-right-to-bracket"></i></button>
        </form>
    </div>
{% endif %}

{# <a href="{{ path('forgotten_password') }}" class="btn btn-secondary mt-3">Mot de passe oublié</a> #}
        