{% extends 'base.html.twig' %}

{% block title %}Glit-ch - Home{% endblock %}

{% block body %}

<div class="container">
    <div class="row mt-4">
        <div class="col-12 text-center">
            <img src={{asset('media/img/logo_black.png')}} width="384" height="67" alt="logo Glitch" class="my-4">
            <p class="lead mb-4">Simplifiez la gestion de votre internat avec notre plateforme intuitive et efficace.</p>
            <p class="lead mb-4">Avec notre méthode <strong>E-S-U</strong></p>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-12 d-flex flex-row justify-content-between my-2">
            <div class="card" style="width: 18rem;">
                <img src={{asset('media/img/CarouselImage2.png')}} class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Efficacité</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src={{asset('media/img/CarouselImage1.png')}} class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Simplicité</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src={{asset('media/img/CarouselImage3.png')}} class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Utilité</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
