{% extends 'base.html.twig' %}

{% block title %}Glitch - Management - Statistics{% endblock %}

{% block body %}
<div class="container mb-5 py-5">

    <div class="row">

        <div class="col-12 col-lg-6 px-1 px-lg-0 mb-2">
            <div class="d-flex flex-column align-items-center card p-2 me-0 me-lg-3">
                {{ render_chart(chartWeekly) }}
            </div>
        </div>

        <div class="col-12 col-lg-6 px-1 px-lg-0 mb-2">
            <div class="d-flex flex-column align-items-center card p-2 me-0 me-lg-3">
                {{ render_chart(chartMonthly) }}
            </div>
        </div>

    </div> <!-- /container -->

    <div class="row">
    
        <div class="col-3 px-1 px-lg-0 mb-2">
            <div class="d-flex flex-column align-items-center card p-2 me-0 me-lg-3">
                {{ render_chart(chartDaily) }}
            </div>
        </div>

        <div class="col-12 col-lg-9 px-1 px-lg-0 mb-2 d-flex">
            <div class="d-flex flex-column align-items-center card p-2 vw-100">
        
                <div class="text-center">
                    <h3 class="fs-4">Détail Complémentaire des {{totRoom}} Chambres</h3>
                    <hr class="m-0 d-flex">
                </div>
        
                <div>
                    <span>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Taux de remplissage du jour : {{dailyTax}}</li>
                            <li class="list-group-item">Total des interne : {{totInterns}}</li>
                            <li class="list-group-item">Nombre d'interne présent ce soir : {{internHere}}</li>
                            <li class="list-group-item">Nombre d'interne absent ce soir : {{totInterns - internHere}}</li>
                            <li class="list-group-item">Nombre de place occupé : {{totRoom - roomFill}}</li>
                            <li class="list-group-item">Nombre de place libre : {{roomFill}}</li>
                        </ul>
                    </span>
                </div>
        
            </div>
        </div>
    
    </div> <!-- /container -->

    <div class="row">
        <div class="col-12 px-1 px-lg-0">
            <div class="card mb-2 ">
                <div class="d-flex justify-content-center align-items-center mt-3 mb-2">
                    <div>
                        <h4 class="text-center mb-0 mx-3 fs-5">Tableaux des statistiques</h4>
                    </div>
                </div>
    
                <div class="container mb-3">
                    <div class="table-responsive">
                        <table class="table table-light table-striped table-hover table-bordered text-center"
                            id="dataTabStat">
    
                            <thead class="table-gray table-dark">
                                <tr>
                                    <th>Id</th>
                                    <th>Nombre de présences</th>
                                    <th>Taux de remplissage</th>
                                    <th>Date</th>
                                </tr>
                            </thead>
    
                            <tbody>
                                {% for stat in statistics %}
                                <tr>
                                    <td>{{stat.id}}</td>
                                    <td>{{stat.dailyTax}}</td>
                                    <td>{{(stat.dailyTax / totInterns * 100)|number_format(2)}}%</td>
                                    <td>{{stat.createdAt|date('d-m-Y')}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
    
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- /container -->

</div> <!-- /container -->

{% block javascripts %}
    {{ encore_entry_script_tags('statistic') }}
{% endblock %}

{% endblock %}