{% extends 'base.html.twig' %}

{% block title %}Glitch - Management{% endblock %}

{% block body %}
<div class="container mb-5 py-5">

    <div class="row">
        <div class="col-12 px-1 px-lg-0">
            <div class="card mb-2 ">
                <div class="d-flex justify-content-center align-items-center mt-3 mb-2">
                    <div>
                        <h4 class="text-center mb-0 mx-3 fs-5">Tableaux des Observations</h4>
                    </div>
                </div>
    
                <div class="container mb-3">
                    <div class="table-responsive">
                        <table class="table table-light table-striped table-hover table-bordered text-center"
                            id="dataTabObs">
    
                            <thead class="table-gray table-dark">
                                <tr>
                                    <th>Id</th>
                                    <th>Type</th>
                                    <th>Date début</th>
                                    <th>Date fin</th>
                                    <th>Description</th>
                                    <th>Image</th>
                                    <th>Status</th>
                                    <th>Changer le status</th>
                                </tr>
                            </thead>
    
                            <tbody>
                                {% for obs in observations %}
                                <tr>
                                    <td>{{obs.id}}</td>
                                    <td>{{obs.type}}</td>
                                    <td class="text-nowrap">{{obs.startDate|date('d-m-Y')}}</td>
                                    <td class="text-nowrap">{{obs.endDate|date('d-m-Y')}}</td>

                                    {% if obs.description == null %}
                                        <td>vide</td>
                                    {% else %}
                                        <td>{{obs.description}}</td>
                                    {% endif %}
                                    {% if obs.images == null %}
                                        <td></td>
                                    {% else %}
                                        <td>
                                            {% for image in obs.images %}
                                                <a href="{{image}}" target="_blank">img{{ loop.index }}</a>
                                            {% endfor %}
                                        </td>
                                    {% endif %}

                                    <td>{{obs.observationState}}</td>

                                    <td>
                                        <a href="{{ path('observation.update', {'id': obs.id, 'status': 'En cours'}) }}"
                                            class="btn btn-warning me-2 updateActivity">
                                            En cours
                                        </a>
                                        <a href="{{ path('observation.update', {'id': obs.id, 'status': 'Traité'}) }}"
                                            class="btn btn-success me-2 updateActivity">
                                            Traité
                                        </a>
                                    </td>

                                </tr>
                                {% endfor %}
                            </tbody>
    
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- /container -->

</div> <!-- /container -->

{% block javascripts %}
    {{ encore_entry_script_tags('ObservationManager') }}
{% endblock %}

{% endblock %}