<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Glit-ch{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
        
    </head>
    
    <body>
        {% block header %}
            {% include "partials/_header.html.twig" %}
        {% endblock header %}
        
        {% block body %}{% endblock %}
        
        {% block footer %}
            {% include "partials/_footer.html.twig" %}
        {% endblock footer %}
        
    </body>
</html>
