<tr id="activity{{activity.id}}">
    <td>{{activity.id}}</td>
    <td>{{activity.type}}</td>
    <td>{{activity.positioning}}</td>
    <td>{{activity.place}}</td>
    <td>
        <a href="#" class="btn btn-warning me-2 updateActivity" data-id="{{ activity.id }}"
            onclick="getActivity(event)"
        >
            Modifier
            <i class="fa fa-duotone fa-pen-to-square ms-2"></i>
        </a>
        <a href="#" data-activityId="{{activity.id}}" onclick="deleteActivity(event)" class="btn btn-danger ms-2 deleteActivity">
            Supprimer
            <i class="fa fa-duotone fa-trash ms-2"></i>
        </a>
    </td>
</tr>