<div class="container ">

    <div class="row flex-column align-items-center justify-content-between">

        <div class="col-12 d-flex align-items-center justify-content-center">
            <div class="py-2 d-flex align-items-baseline">
                <img src="{{intern.imageProfil}}" width="200px" height="200px" alt='' />
            </div>
        </div>

        <div class="col-12 py-3">
            <div>
                <div class="d-flex justify-content-between">
                    <strong class="me-2 text-start">Nom</strong>
                    <span class="ms-2 text-end">{{intern.lastName}}</span>
                </div>
                <hr class="my-1">
                <div class="d-flex justify-content-between">
                    <strong class="me-2 text-start">Prénom</strong>
                    <span class="ms-2 text-end">{{intern.firstName}}</span>
                </div>
                <hr class="my-1">
                <div class="d-flex justify-content-between">
                    <strong class="me-2 text-start">Email</strong>
                    <span class="ms-2 text-end">{{intern.mailIntern}}</span>
                </div>
                <hr class="my-1">
                <div class="d-flex justify-content-between">
                    <strong class="me-2 text-start">Téléphone</strong>
                    <span class="ms-2 text-end">{{intern.phoneNumberIntern}}</span>
                </div>
                <hr class="my-1">
                <div class="d-flex justify-content-between">
                    <strong class="me-2 text-start">Genre</strong>
                    <span class="ms-2 text-end" colspan="2">{{intern.sexIntern}}</span>
                </div>
                <hr class="my-1">
                <div class="d-flex justify-content-between">
                    <strong class="me-2 text-start">Numéro de chambre</strong>
                    <span class="ms-2 text-end" colspan="2">{{intern.Room.roomNumber}}</span>
                </div>
                <hr class="my-1">
                <div class="d-flex justify-content-between">
                    <strong class="me-2 text-start">Code wifi</strong>
                    <span class="ms-2 text-end" colspan="2">{{intern.Wifi.wifiPassword}}</span>
                </div>
                <hr class="my-1">
                <div class="d-flex justify-content-between">
                    <strong class="me-2 text-start">Session</strong>
                    <span class="ms-2 text-end" colspan="2">{{intern.formation}}</span>
                </div>
                <hr class="my-1">
                <div class="d-flex justify-content-between">
                    <strong class="me-2 text-start">Période de formation</strong>
                    <span class="ms-2 text-end" colspan="2">du {{ intern.arrivingIntern|date("d/m/Y") }} au {{ intern.finishingIntern|date("d/m/Y") }}</span>
                </div>
                <hr class="my-1">
                <div class="d-flex justify-content-between">
                    <strong class="me-2 text-start">Statut Clé</strong>
                    <span class="ms-2 text-end" colspan="2">
                        {% if intern.Room.keyState == 1 %}
                            <span class="fst-italic text-muted">disponible</span>
                            <input class="form-check-input" type="checkbox" checked disabled>
                        {% else %}
                            <span class="fst-italic text-muted">sortie</span>
                            <input class="form-check-input" type="checkbox" disabled>
                        {% endif %}
                    </span>
                </div>
                <hr class="my-1">
                <div class="d-flex justify-content-between">
                    <strong class="me-2 text-start">Immatriculation</strong>
                    <span class="ms-2 text-end" colspan="2">{{intern.numberPlate}}</span>
                </div>
                <hr class="my-1">
                <div class="d-flex justify-content-between">
                    <strong class="me-2 text-start">Personne à contacter</strong>
                    <span class="ms-2 text-end " colspan="2">{{intern.Emergency.lastName}} : {{intern.Emergency.phoneNumber}}</span>
                </div>
                <hr class="my-1">
            </div>
        </div>
    </div>
        
</div>
