{# Modal modifier activité #}
<div class="modal fade" id="update-activity-modal" tabindex="-1" role="dialog" aria-labelledby="update-activity-modal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modifier une activité</h5>
                <button type="button" class="close btn btn-danger" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body p-0 p-sm-2">
                {{form(formUpdateActivity, {'attr': {'id': 'form_update_activity'} }) }}
            </div>
        </div>
    </div>
</div>
