{% extends 'base.html.twig' %}

{% block title %}Glitch - Management{% endblock %}

{% block body %}
    <div class="container mb-5 py-5">
        <div class="row">
            <div class="col-12 col-lg-6 px-1 px-lg-0 mb-2">
                <div class="d-flex flex-column align-items-center card p-2 me-0 me-lg-3">
                        {{ render_chart(chart) }}
                </div>
            </div>
    
            <div class="col-12 col-lg-6 px-1 px-lg-0 mb-2 d-flex">
                <div class="d-flex flex-column align-items-center card p-2 vw-100">
    
                    <div class="text-center">
                        <h3 class="fs-4">Détail Complémentaire des {{totRoom}} Chambres</h3>
                        <hr class="m-0 d-flex">
                    </div>
                    
                    <div>
                        <span>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Taux de remplissage du jour : {{dailyTax}}</li>
                                <li class="list-group-item">Total des interne : {{totInterns}}</li>
                                <li class="list-group-item">Nombre d'interne présent ce soir : {{internHere}}</li>
                                <li class="list-group-item">Nombre d'interne absent ce soir : {{totInterns - internHere}}</li>
                                <li class="list-group-item">Nombre de place occupé : {{totRoom - roomFill}}</li>
                                <li class="list-group-item">Nombre de place libre : {{roomFill}}</li>
                            </ul>
                        </span>
                    </div>
    
                </div>
            </div>
        </div> <!-- /container -->
        
        <!-- Tableaux des interne-->
        <div class="row">
            <div class="col-12 px-1 px-lg-0">
                <div class="card mb-2 ">
                    <div class="d-flex justify-content-center align-items-center mt-3 mb-2">
                        <div>
                            <h4 class="text-center mb-0 mx-3 fs-5">Tableaux des stagiaires</h4>
                        </div>
                    </div>

                    <div class="container mb-3">
                        <div class="table-responsive">
                            <table class="table table-light table-striped table-hover table-bordered text-center" id="dataTabIntern">

                                <thead class="table-gray table-dark">
                                    <tr>
                                        <th>id</th>
                                        <th><i class="fa fa-regular fa-id-card me-2"></i>Nom Prénom</th>
                                        <th></i>Mail</th>
                                        <th></i>Tel</th>
                                        <th>Immatriculation</th>
                                        <th></i>Genre</th>
                                        <th>Session</th>
                                        <th>Chambre</th>
                                        <th>Période de Formation</th>
                                        <th>Clé</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    {% for intern in interns %}
                                        <tr>
                                            <td>{{intern.id}}</td>
                                            <td>
                                                <a href="" 
                                                   data-id="{{intern.id}}"
                                                   class="link-success text-uppercase text-decoration-none linkCard">
                                                    {{intern.lastName}}  {{intern.firstName}}
                                                </a>
                                            </td>
                                            <td>{{intern.mailIntern}}</td>
                                            <td>{{intern.phoneNumberIntern}}</td>
                                            <td>{{intern.numberPlate}}</td>
                                            <td>{{intern.sexIntern}}</td>
                                            <td>{{intern.formationAbbreviation}}</td>
                                            <td>{{intern.Room.roomNumber}}</td>
                                            <td>du {{ intern.arrivingIntern|date("d/m/Y") }} au {{ intern.finishingIntern|date("d/m/Y") }}</td>
                                            <td>
                                                {% if intern.Room.keyState == 1 %}
                                                    <input class="form-check-input" type="checkbox" checked disabled>
                                                {% else %}                                                    
                                                    <input class="form-check-input" type="checkbox" disabled>
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /container -->
    
        <!--activity-->
        <div class="row ">
            <div class="col-12 px-1 px-lg-0">
                <div class="card mb-2">
                    <div class="d-flex flex-column">
                        <div class="pt-3 text-center">
    
                            <h4>Détail des activités </h4>
    
                            <div class="col-12 ">
                                <!-- Tableaux -->
                                <div class="container mb-3" id="hookActivity">
                                    <div class="table-responsive">
                                        <table class="table table-light table-striped table-hover table-bordered text-center" id="dataTabActivity">
                                            <thead class="table-gray table-dark">
                                                <tr>
                                                    <th>Id</th>
                                                    <th>Activité</th>
                                                    <th>Participant</th>
                                                    <th>Lieu</th>
                                                    <th>
                                                        Actions
                                                        <a href="" class="btn btn-success ms-2 pe-1 py-0 addActivity">
                                                            Ajouter
                                                            <i class="fa fa-light fa-circle-plus ms-2"></i>
                                                        </a>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody id="activityList">
                                                
                                                {% for activity in listActivity %}
                                                <tr id="activity{{activity.id}}">
                                                    <td>{{activity.id}}</td>
                                                    <td>{{activity.type}}</td>
                                                    <td>{{activity.positioning}}</td>
                                                    <td>{{activity.place}}</td>
                                                    <td>

                                                        <a href="" class="btn btn-warning me-2 updateActivity" data-id="{{ activity.id }}"
                                                            onclick="getActivity(event)">
                                                            Modifier
                                                            <i class="fa fa-duotone fa-pen-to-square ms-2"></i>
                                                        </a>
                                                        <a href="" data-activityId="{{activity.id}}" 
                                                           class="btn btn-danger ms-2 deleteActivity"
                                                           onclick="deleteActivity(event)">
                                                            Supprimer
                                                            <i class="fa fa-duotone fa-trash ms-2"></i>
                                                        </a>
                                                    </td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            
    </div> <!-- /container -->

    <!-- Modal Carte d'interne -->
    {% include "partials/_modal.html.twig"
    with {
        'idModal': "cardIntern",
        'idModalTitle': "cardInternTitle",
        'ModalTitle': "Carte d'interne",
        'classButton': "close btn btn-danger",
        'ariaLabel': "Close",
        'idModalBody': "cardInternBody",
        'requestUrl': "/Management/InternCard/",
    }%}

    <!-- Modal ajouter une activité -->
    {% include "pages/management/_modalAddActivity.html.twig" %}

    <!-- Modal modifier une activité -->
    {% include "pages/management/_modalUpdateActivity.html.twig" %}


    {% block javascripts %}
        {{ encore_entry_script_tags('homeManager') }}
    {% endblock %}

{% endblock %}

