{% extends 'base.html.twig' %}

{% block title %}Glitch - Room{% endblock %}

{% block body %}
<div class="container mb-5 py-5">

    <div class="row">

        <div class="col-12 px-1 px-lg-0 mb-2">
            <div class="d-flex flex-column align-items-center card p-2 ">
                <h4 class="text-center mb-0 mx-3 fs-5">Gestion des chambres</h4>

                <div class="row d-flex w-100 justify-content-between text-center p-2 my-2">
                    <div class="col-12 col-lg-6 card ">
                        <h5>Bâtiment 1</h5>
                        <div class="row p-2">
                            <a href="" class="col-4 btn btn-success border rounded text-white">A1</a>
                            <a href="" class="col-4 btn btn-success border rounded text-white">A2</a>
                            <a href="" class="col-4 btn btn-success border rounded text-white">A3</a>
                        </div>
                        <div class="row p-2">
                            <a href="" class="col-4 btn btn-success border rounded text-white">B1</a>
                            <a href="" class="col-4 btn btn-success border rounded text-white">B2</a>
                            <a href="" class="col-4 btn btn-success border rounded text-white">B3</a>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 card ">
                        <h5>Bâtiment 1</h5>
                        <div class="row p-2">
                            <a href="" class="col-4 btn btn-success border rounded text-white">A4</a>
                            <a href="" class="col-4 btn btn-success border rounded text-white">A5</a>
                            <a href="" class="col-4 btn btn-success border rounded text-white">A6</a>
                        </div>
                        <div class="row p-2">
                            <a href="" class="col-4 btn btn-success border rounded text-white">B4</a>
                            <a href="" class="col-4 btn btn-success border rounded text-white">B5</a>
                            <a href="" class="col-4 btn btn-success border rounded text-white">B6</a>
                        </div>
                    </div>
                </div>

                <div class="row d-flex w-100 justify-content-between text-center p-2 my-2">
                    <div class="col-12 col-lg-6 card ">
                        <h5>Bâtiment 2</h5>
                        <div class="row p-2">
                            <a href="" class="col-4 btn btn-success border rounded text-white">A7</a>
                            <a href="" class="col-4 btn btn-success border rounded text-white">A8</a>
                            <a href="" class="col-4 btn btn-secondary disabled border rounded text-white">A9</a>
                        </div>
                        <div class="row p-2">
                            <a href="" class="col-4 btn btn-success border rounded text-white">B7</a>
                            <a href="" class="col-4 btn btn-success border rounded text-white">B8</a>
                            <a href="" class="col-4 btn btn-secondary disabled border rounded text-white">B9</a>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 card ">
                        <h5>Bâtiment 2</h5>
                        <div class="row p-2">
                            <a href="" class="col-4 btn btn-success border rounded text-white">A10</a>
                            <a href="" class="col-4 btn btn-success border rounded text-white">A11</a>
                            <a href="" class="col-4 btn btn-secondary disabled border rounded text-white">A12</a>
                        </div>
                        <div class="row p-2">
                            <a href="" class="col-4 btn btn-secondary disabled border rounded text-white">B10</a>
                            <a href="" class="col-4 btn btn-success border rounded text-white">B11</a>
                            <a href="" class="col-4 btn btn-secondary disabled border rounded text-white">B12</a>
                        </div>
                    </div>
                </div>

                <div class="row d-flex w-100 justify-content-between text-center p-2 my-2">
                    <div class="col-12 col-lg-6 card ">
                        <h5>Bâtiment 3</h5>
                        <div class="row p-2">
                            <a href="" class="col-4 btn btn-secondary disabled border rounded text-white">A13</a>
                            <a href="" class="col-4 btn btn-secondary disabled border rounded text-white">A14</a>
                            <a href="" class="col-4 btn btn-success border rounded text-white">A15</a>
                        </div>
                        <div class="row p-2">
                            <a href="" class="col-4 btn btn-secondary disabled border rounded text-white">B13</a>
                            <a href="" class="col-4 btn btn-success border rounded text-white">B14</a>
                            <a href="" class="col-4 btn btn-secondary disabled border rounded text-white">B15</a>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 card ">
                        <h5>Bâtiment 3</h5>
                        <div class="row p-2">
                            <a href="" class="col-4 btn btn-success border rounded text-white">A16</a>
                            <a href="" class="col-4 btn btn-secondary disabled border rounded text-white">A17</a>
                            <a href="" class="col-4 btn btn-success border rounded text-white">A18</a>
                        </div>
                        <div class="row p-2">
                            <a href="" class="col-4 btn btn-secondary disabled border rounded text-white">B16</a>
                            <a href="" class="col-4 btn btn-success border rounded text-white">B17</a>
                            <a href="" class="col-4 btn btn-success border rounded text-white">B18</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div> <!-- /container -->

</div> <!-- /container -->

{% block javascripts %}
    {{ encore_entry_script_tags('roomManager') }}
{% endblock %}

{% endblock %}